*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact-sec-1{
    width: 100%;
    height: auto;
    .container-fluid{
        .contact-box{
            position: relative;
            width: 100%;
            max-width: 1351px;
            height: 400px;
            //left: -130px;
            background-image: url("../img/contact-sec1.jpg");
            background-position: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            mix-blend-mode: luminosity;
            .contact-title{
                left: 5%;
                top: 30%;
                position: absolute;
                font-family: 'Kanit', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 90px;
                line-height: 130px;
                color: #000000;               
            }
        }
    }
}