.contact-sec-2{
    width: 100%;
    height: auto;
    .container{
        width: 100%;
        height: auto;
       .title-form{
           .title{
               h1{
                font-family: 'Kanit', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 41px;
                //line-height: 50px;
                color: #000000; 
                //text-align: center;
                //margin-top: 25px;
               }
           }
           .inputs{
              input{
                width: 100%;
                max-width: 240px;
                min-height: 60px;
                margin-right: 20px;
                margin-top: 20px;
                border: 2px solid #000000;
                box-sizing: border-box;
                padding: 20px;
              }
           }
           .input{
               input{
                width: 100%;
                max-width: 500px;
                min-height: 120px;
                margin-top: 20px;
                border: 2px solid #000000;
                box-sizing: border-box;
                padding: 20px;
               }
           }
           .icon-text{
            font-size: 20px;
            font-family: 'Kanit', sans-serif;
            font-style: normal;
            font-weight: normal;
            color: #000000; 
           }
       } 
    }
}