.container{
    img{
        width: 250px;
        height: 120px;
    }
    li{
            font-family: 'Kanit', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 96px;
            text-align: left;
            vertical-align: top;
            fill: solid #000000;
    }
}    